// ==========================================================================
// Placeholders
// ==========================================================================

// COLUMNS

.column {
  font-size: .75rem;
  display: inline-block;
  width: 45%;
  height: 100px;
}