// ==========================================================================
// Global Config
// ==========================================================================

// Fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$font-family--montserrat : 'Montserrat', sans-serif;

// Colors

$background-color--gray : #2e2e2e;
$background-color--secondary : #ecf0f1;
$color--highlight : #83c500;
$color--dark-highlight : #78b400;
$color--darkgray : #333;

// Utility Classes
.clearfix::after {
  display: block;
  content: " ";
  clear: both;
}

/* FUNCTIONS */


