@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css");
.clearfix::after {
  display: block;
  content: " ";
  clear: both; }

/* FUNCTIONS */
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  min-height: 480px;
  height: 100vh;
  width: 100vw; }

body {
  font-family: "Montserrat", sans-serif; }
